.small {
    font-size: 25px;
}

table, tr, td, th {
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid blue;
    margin-left: auto;
    margin-right: auto;
}

.stock-img {
    width: 175px;
    height: 175px;
}